Flockle list for <%= link_to params[:screen_name], "http://twitter.com/#{params[:screen_name]}" %>

<table>
  <% @results.each do |tweet| %>
    <%= tag "tr", {:class => @friends.include?(tweet['from_user']) ? "from_friend" : "to_friend" }, true %>
      <td>
        <%= image_tag tweet['profile_image_url'], :class => 'profile-image' %>
      </td>
      <td>
        <span class="pre-tweet">
          <%= time_ago_in_words(Time.parse(tweet['created_at'])).capitalize %> ago, 
          <%= link_to tweet['from_user'], "http://twitter.com/#{tweet['from_user']}" %>
          said
        </span>
        "<%= linkify tweet['text'] %>"
      </td>
    </tr>
  <% end %>
</table>
